<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/" style="padding: 0 2rem; margin: 0"><img class="logo" src="/images/BYUI-logo.png"
            alt="BYU Idaho logo"></a></li>
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Team Activities
          <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="<%= path === '/ta01' ? 'active' : ''%>"><a href="/team/01">TA01</a></li>
          <li class="<%= path === '/ta02' ? 'active' : ''%>"><a href="/team/02">TA02</a></li>
          <li class="<%= path === '/ta03' ? 'active' : ''%>"><a href="/team/03">TA03</a></li>
          <li class="<%= path === '/ta04' ? 'active' : ''%>"><a href="/team/04">TA04</a></li>
        </ul>
      </li>
      <!-- The following list adds a dropdown for my prove assignments. This only works if the index is the main js file being run. -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Prove Activities
          <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="<%= path === '/01/create' ? 'active' : ''%>"><a href="/prove/01">Prove 01 - Create User</a></li>
          <li class="<%= path === '/01/users' ? 'active' : ''%>"><a href="/prove/01/users">Prove 01 - Users</a></li>
          <li class="<%= path === 'prove/08' ? 'active' : ''%>"><a href="/prove/08">Prove 08</a></li>
          <li class="<%= path === 'prove/09' ? 'active' : ''%>"><a href="/prove/09">Prove 09</a></li>
        </ul>
      </li>
      <li><a href="/upskill">UpSkill</a></li>
    </ul>
  </div>
</nav>