<div <% if(path === "/upskill/course"){ %> class="detail-actions-container" <% } else{ %> class="actions-container"
  <% } %>>
  <!-- The next 2 form will eventually only be visible by admins -->
  <% if(currentUser && currentUser._id.toString() === c.instructor._id.toString() ){ %>
  <form action="./editCourse/" method="post">
    <input type="hidden" name="courseId" value="<%= c.id  %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="submit" value="Edit" class="option edit">
  </form>
  <form action="./deleteCourse/" method="post">
    <input type="hidden" name="courseId" value="<%= c.id  %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="submit" value="Delete" class="option delete">
  </form>
  <% } %>
  <% if(path !== "/upskill/course"){ %>
  <!-- This is to view course details -->
  <form action="./course/" method="post">
    <input type="hidden" name="courseId" value="<%= c.id  %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="submit" value="More Info" class="option info">
  </form>
  <% } %>
  <% if(isAuthenticated && currentUser._id.toString() !== c.instructor._id.toString() ){ %>
  <!-- This is to Add a course to the cart -->
  <form action="/upskill/addToCart" method="post">
    <input type="hidden" name="courseId" value="<%= c.id  %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="submit" value="Add To Cart" class="option addCart">
  </form>
  <% } %>
</div>