<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
  <div class="container">
    <h1><%= title %></h1>
    <div class="usersdata">
      <% users.forEach( user => { %>
      <div class="userInfo">
        <h3><%= user.username%></h3>
        <ul>
          <li>First Name: <%= user.firstName %></li>
          <li>Last Name: <%= user.lastName %></li>
          <li>Email: <%= user.email %></li>
        </ul>
      </div>
      <% })%>
    </div>
  </div>

</body>

</html>