<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%> | UpSkill</title>
  <link rel="stylesheet" href="/stylesheets/upskill.css">
</head>

<body>

  <body>
    <% include ../../includes/up-header %>

    <main>
      <h1><%= title%></h1>
      <form action="<%= action %>" method="post">
        <label for="title">Title:
          <input type="text" name="title" id="title" <% if(typeof(course.title) != null){ %> value="<%= course.title %>"
            <% } %>>
        </label>
        <label for="price">Price:
          <input type="number" name="price" id="price" <% if(typeof(course.price) != null){ %>
            value="<%= course.price %>" <% } %>>
        </label>
        <label for="description">Description:
          <textarea name="description"
            id="description"><% if(typeof(course.description) != null){ %><%= course.description %><% } %></textarea>
        </label>
        <label for="imgUrl">Image:
          <input type="text" name="imgUrl" id="imgUrl" <% if(typeof(course.imgUrl) != null){ %>
            value="<%= course.imgUrl %>" <% } %>>
        </label>

        <% if(course._id){ %>
        <input type="hidden" name="courseId" value="<%= course._id %>">
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="<%= actionText %>">
      </form>
    </main>
    <% include ../../includes/up-footer %>
    <script src="/scripts/base.js"></script>
  </body>

</html>