<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%> | UpSkill</title>
  <link rel="stylesheet" href="/stylesheets/upskill.css">
</head>

<body>

  <body>
    <header>
      <p class="title"><a href="/upskill">UpSkill | Become Greater</a></p>
      <% include ../../includes/up-nav %>
    </header>


    <main>
      <section class="course-container">
        <p class="c-title"><%= course.title %></p>
        <figure class="c-img">
          <img src="../<%= course.imgUrl %>" alt="<%= course.title %>">
        </figure>
        <div class="c-info">
          <p class="c-instructor">Instructor: <%= course.instructor %></p>
          <p class="c-description"><%= course.description %></p>
          <p class="c-price">$<%= course.price %></p>
        </div>
      </section>
      <section class="reviews">
        <h1>Reviews:</h1>
        <% if(course.reviews.length >= 1){
          course.reviews.forEach(r=>{ %>
        <p class="r-title"><%= r.title %></p>
        <p class="r-user"><%= r.user %></p>
        <p class="r-body"><%= r.body %></p>
        <% })} else {%>
        <p>Sorry, nothing to show here 😢</p>
        <form action="./addReview" method="post">
          <label for="title">Title:
            <input type="text" name="title">
          </label>
          <input type="hidden" name="userId" <% if(currentUser){ %>
             value=<%= currentUser._id %>
            <% } %>>
          <label for="body">Review:
            <textarea name="body"></textarea>
          </label>
          <input type="submit" value="Add Review">
        </form>
        <% } %>
      </section>
    </main>
    <% include ../../includes/up-footer %>
  </body>

</html>