<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="../stylesheets/upskill.css">
</head>

<body>

  <body>
    <header>
      <p class="title"><a href="/upskill">UpSkill | Become Greater</a></p>
      <% include ../../includes/up-nav %>
    </header>

    <main>
      <section class="courses-container">
        <h2>Available Courses</h2>
        <% courses.forEach(c=>{ %>
        <div class="course">
          <figure class="c-img">
            <img src="<%= c.imgUrl %>" alt="<%= c.title %>">
          </figure>
          <div class="c-info">
            <p class="c-title"><%= c.title %></p>
            <p class="c-instructor">by <%= c.instructor %></p>
            <p class="c-price">$<%= c.price %></p>
          </div>
          <div class="actions-container">
            <!-- The next 2 form will eventually only be visible by admins -->
            <% if(currentUser && currentUser.privilege >1){ %>
            <form action="./editCourse/" method="post">
              <input type="hidden" name="courseId" value="<%= c.id  %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="submit" value="Edit Course">
            </form>
            <form action="./deleteCourse/" method="post">
              <input type="hidden" name="courseId" value="<%= c.id  %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="submit" value="Delete Course">
            </form>
            <% } %>
            <!-- This is to view course details -->
            <form action="./course/" method="post">
              <input type="hidden" name="courseId" value="<%= c.id  %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="submit" value="More Info">
            </form>
            <% if(isAuthenticated){ %>
            <!-- This is to Add a course to the cart -->
            <form action="/upskill/addToCart" method="post">
              <input type="hidden" name="courseId" value="<%= c.id  %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="submit" value="Add To Cart">
            </form>
            <% } %>
          </div>
        </div>
        <% }); %>
        </div>
      </section>
    </main>
    <% include ../../includes/up-footer %>
  </body>

</html>