<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%> | UpSkill</title>
  <link rel="stylesheet" href="/stylesheets/upskill.css">
</head>

<body>

  <body>
    <% include ../../includes/up-header %>


    <main>
      <section class="course-details">
        <div class="detail-header">
          <p class="detail-title"><%= c.title %>
            <span class="detail-instructor">as taught by
              <%= c.instructor.firstName + " " + c.instructor.lastName %></span>
          </p>
          <figure class="detail-img">
            <img src="../<%= c.imgUrl %>" alt="<%= c.title %>">
          </figure>
        </div>
        <p class="detail-description"><%= c.description %></p>
        <% if(owned){ %>
        <div class="owned-info">
          <form action="./course/lessons" method="post">
            <input type="hidden" name="courseId" value="<%= c.courseId %>">
            <input type="submit" value="Start Course" class="option info" disabled>
          </form>
        </div>
        <% } else { %>
        <div class="detail-info">
          <% include ../../includes/up-actions %>
          <p class="detail-price">Price: $<%= c.price %></p>
        </div>
        <% } %>
      </section>
      <section class="reviews">
        <h1>Reviews:</h1>
        <% if(c.reviews.length >= 1){
          c.reviews.forEach(r=>{ %>
        <p class="r-title"><%= r.title %></p>
        <p class="r-user"><%= r.user %></p>
        <p class="r-body"><%= r.body %></p>
        <% })} else {%>
        <p>Sorry, nothing to show here 😢</p>
        <form action="./addReview" method="post">
          <label for="title">Title:
            <input type="text" name="title">
          </label>
          <input type="hidden" name="userId" <% if(currentUser){ %> value=<%= currentUser._id %> <% } %>>
          <label for="body">Review:
            <textarea name="body"></textarea>
          </label>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="submit" value="Add Review">
        </form>
        <% } %>
      </section>
    </main>
    <% include ../../includes/up-footer %>
    <script src="/scripts/base.js"></script>
  </body>

</html>