<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="../stylesheets/upskill.css">
</head>

<body>

  <body>
    <% include ../../includes/up-header %>

    <main>
      <section class="courses-container">
        <h2>Available Courses</h2>
        <% courses.forEach(c=>{ %>
        <div class="course">
          <figure class="c-img">
            <img src="<%= c.imgUrl %>" alt="<%= c.title %>">
          </figure>
          <div class="c-info">
            <p class="c-title"><%= c.title %></p>
            <p class="c-instructor">by <%= c.instructor.firstName%> <%= c.instructor.lastName %></p>
            <p class="c-price">$<%= c.price %></p>
          </div>
          <% include ../../includes/up-actions %>
        </div>
        <% }); %>
        </div>
      </section>
    </main>
    <% include ../../includes/up-footer %>
    <script src="/scripts/base.js"></script>
  </body>

</html>