<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="../../stylesheets/upskill.css">
</head>

<body>
  <% include ../../includes/up-header %>

  <main>
    <% if(message && message.length >= 1){ %>
    <p class="message <%if(msgType){%>
      <%= msgType %>
      <% } %>">
      <%= message %></p>
    <% } %>
    <form action="../updatePassword" method="post">
      <label for="newPassword">Enter new password:
        <input type="password" name="newPassword" required>
      </label>
      <input type="hidden" name="userId" value="<%= userId %>">
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="submit" value="Update Password">
    </form>
  </main>
  <% include ../../includes/up-footer %>
  <script src="/scripts/base.js"></script>
</body>

</html>